nav div .active{
    filter: invert(1);
    -webkit-filter: invert(1);
    font-size: x-large;
    color: black;
    font-family: sans-serif;
}
nav div .compra{
    color: green;
}
nav div .compra:hover{
    color: green;
}
#navbarNav{
    font-family: sans-serif;
    color: white;
    font-size: larger;
}
#cards{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

.shadow{
    filter: drop-shadow(1px 2px 3px);
    -webkit-filter: drop-shadow(1px 2px 3px black);
}
.lectura{
   color: white;
  text-align: end;
  margin-left: 20%;
  bottom: 30%;
}
.banner{
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 10px;
  color: white;
  text-align: justify;
  
}
.form--centrado{
    margin-left: 25%;
    margin-right: 25%;
}